.App {
  text-align: center;
  margin-top: 5rem;
  font-family: sans-serif;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  margin: 20px;
  cursor: pointer;
}

p {
  font-size: 24px;
  max-width: 600px;
  margin: 0 auto;
}
